{%extends "layout.html" %}
{%block body%}

<h3>Transaction History</h3>
<hr>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Coin</th>
        <th scope="col">Buy Price Avg.</th>
        <th scope="col">Sell Price</th>
        <th scope="col">Total Cost</th>
        <th scope="colnet">Net Profit</th>
        <th scope="col">Profit Percentage</th>

      </tr>
    </thead>
    {%if all_info %}
      {%for info in all_info%}  
        <tbody>
        <tr>
            <th scope="row">{{loop.index}}.</th>
            <td>{{info.date.strftime("%d/%m/%Y %H:%M:%S")}}</td>
            <td><a href="/coin/{{info.id}}"style="color:purple;">{{info.name}}</a></td>
            <td>{{info.buyprice|round(6)}}</td>
            <td>{{info.sellprice|round(6)}}</td>
            <td>{{info.cost|round(6)}}$</td>
            {%if info.sellprice > info.buyprice %}
                <td class="text-success">{{((info.cost/info.buyprice)*((info.sellprice-info.buyprice)))|round(6)}}$</td>
                <td class="text-success">% {{ ((((info.sellprice/info.buyprice)*100)-100))|round(6)}}</td>
            {%else%}
                <td class="text-danger">{{((info.cost/info.buyprice)*((info.sellprice-info.buyprice)))|round(3)}}$</td>
                <td class="text-danger">% {{ ((((info.sellprice/info.buyprice)*100)-100))|round(6)}}</td>
                
            {%endif%}
            <td><a href="/delete/{{info.id}}"class = "btn btn-danger">Delete</a></td>  
            <td><a href="/update/{{info.id}}"class = "btn btn-danger">Update</a></td>  
        </tr>
        
        {% endfor %}
    </tbody>
    <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {%if net_profit>0 %}
                <th class="text-success">Total:{{net_profit|round(3)}}$</th>
            {%else%}
                <th class="text-danger">Total:{{net_profit|round(3)}}$</th>
            {%endif%}
    
   
   
  </table>
{%else%}
<div class = "alert alert-danger">There are currently no registered coins</div>
{%endif%}
{%endblock%}