{%extends"layout.html"%}
{%block body%}

<h3>Sell Your Coin</h3>
<hr>
{% from "includes/formhelpers.html" import render_field %}
<form method="POST">
    {{ render_field(form.coinname_sell, class = "form-control")}}
    {{ render_field(form.sellprice_sell, class = "form-control") }}
    

    <button type="submit" class="btn btn-danger">Sell Coin</button>
    <ul class="navbar-nav mr-auto">

        {%if coin_allinfo %}
            {%if sign %}    
            <h3 class="pull-right">
                <h3>{{coin_allinfo["name"]}}:</h3>
                <h4>Net Profit:
                <span class="text-success">+{{difference|round(3)}}$</span>
                </h4>
                <h4>Net Profit Percentage:
                <span class="text-success">{{percent}}</span>
                </h4>
                <h4>Total Amount:
                <span class="text-success">{{(difference + coin_allinfo["cost"])|round(3)}}$</span>
            </h3>
            {%else%}
                <h3>{{coin_allinfo["name"]}}:</h3>
                <h3 class="text-danger">Net Profit: -{{difference|round(3)}}$</h3>
                <h3 class="text-danger">Profit Percentage:{{percent}}</h3>
                <h3 class="text-danger">Total Amount:{{(coin_allinfo["cost"] - difference)|round(3)}}$</h3>
            {%endif%}
        {%endif%}
        </ul>
    </form>
    {%endblock%}
